pyyaml
# pin pytest until rerunfailures gets an update:
# https://github.com/pytest-dev/pytest-rerunfailures/issues/128
pytest<6.1.0
pytest-rerunfailures
pytest-timeout
pytest-xdist
requests
kubernetes
chartpress
