binderhub:
  ingress:
    hosts:
      - mybinder.org

  resources:
    requests:
      cpu: "2"
      memory: 2Gi
    limits:
      cpu: "2"
      memory: 2Gi

  registry:
    prefix: gcr.io/binder-prod/r2d-05168b0-

  hub:

    url: https://hub.mybinder.org

  jupyterhub:
    singleuser:
      memory:
        guarantee: 2G
        limit: 2G
    hub:
      resources:
        requests:
          cpu: "2"
          memory: 2Gi
        limits:
          cpu: "2"
          memory: 2Gi

    proxy:
      chp:
        resources:
          requests:
            memory: 512Mi
            cpu: "0.5"
          limits:
            memory: 512Mi
            cpu: "0.5"
      nginx:
        resources:
          requests:
            memory: 3Gi
            cpu: 1
          limits:
            memory: 3Gi
            cpu: 1
    ingress:
      hosts:
        - hub.mybinder.org
      tls:
        - secretName: kubelego-tls-jupyterhub-prod
          hosts:
            - hub.mybinder.org

  googleAnalyticsCode: "UA-101904940-1"
  googleAnalyticsDomain: "mybinder.org"

grafana:
  server:
    resources:
      requests:
        cpu: "0.2"
        memory: 512Mi
      limits:
        cpu: "0.2"
        memory: 512Mi
    ingress:
      hosts:
        - grafana.mybinder.org
      tls:
        - hosts:
            - grafana.mybinder.org
          secretName: kubelego-tls-grafana

prometheus:
  server:
    resources:
      requests:
        cpu: "4"
        memory: 8Gi
      limits:
        cpu: "4"
        memory: 8Gi
    persistentVolume:
      # Use a large SSD Volume in production
      size: 2000Gi
      storageClass: ssd
    retention: 60d
    ingress:
        hosts:
          - prometheus.mybinder.org
        tls:
          - hosts:
              - prometheus.mybinder.org
            secretName: kubelego-tls-prometheus

nginx-ingress:
  controller:
    service:
      loadBalancerIP: 35.202.202.188
    replicaCount: 2

static:
  ingress:
    hosts:
      - static.mybinder.org

redirector:
  redirects:
    - type: host
      host:
        from: beta.mybinder.org
        to: mybinder.org
    - type: host
      host:
        from: docs.mybinder.org
        to: mybinder.readthedocs.io
    - type: host
      host:
        from: playground.mybinder.org
        to: play.nteract.io
