projectName: staging

# binderhubEnabled: false

binderhub:
  config:
    BinderHub:
      pod_quota: 20
      hub_url: https://hub.staging2.mybinder.org
      badge_base_url: https://staging.mybinder.org
      image_prefix: registry.bids.mybinder.org/mybinder-staging/i-
      sticky_builds: true

  extraVolumes:
    - name: secrets
      secret:
        secretName: events-archiver-secrets
  extraVolumeMounts:
    - name: secrets
      mountPath: /secrets
      readOnly: true
  extraEnv:
    GOOGLE_APPLICATION_CREDENTIALS: /secrets/service-account.json
    EVENT_LOG_NAME: "binderhub-staging-events-text"

  resources:
    requests:
      cpu: 0.1
      memory: 512Mi

  dind:
    hostLibDir: /mnt/disk/dind
    resources:
      requests:
        cpu: "0"
        memory: 1Gi
      limits:
        cpu: "1"
        memory: 1Gi

  ingress:
    hosts:
      - staging2.mybinder.org

  jupyterhub:
    hub:
      resources:
        requests:
          memory: 100M
          cpu: "10m"
    singleuser:
      memory:
        guarantee: 100M
        limit: 256M
      cpu:
        guarantee: .01
        limit: 0.5
    ingress:
      hosts:
        - hub.staging2.mybinder.org
      tls:
        - secretName: kubelego-tls-jupyterhub-staging
          hosts:
            - hub.staging2.mybinder.org

    proxy:
      chp:
        resources:
          requests:
            memory: 100M
            cpu: 10m

minesweeper:
  resources:
    requests:
      cpu: 5m
      memory: 100Mi

grafana:
  ingress:
    hosts:
      - grafana.staging2.mybinder.org
    tls:
      - hosts:
          - grafana.staging2.mybinder.org
        secretName: kubelego-tls-grafana
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: prometheus
          orgId: 1
          type: prometheus
          url: https://prometheus.staging2.mybinder.org
          isDefault: true
          editable: false

prometheus:
  server:
    ingress:
      hosts:
        - prometheus.staging2.mybinder.org
      tls:
        - hosts:
            - prometheus.staging2.mybinder.org
          secretName: kubelego-tls-prometheus
    persistentVolume:
      size: 12G
    # reduce retention for staging
    retention: 30d

ingress-nginx:
  controller:
    replicaCount: 2
    # service:
    #   loadBalancerIP: 35.222.35.25
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        cpu: 500m
        memory: 500Mi

static:
  ingress:
    hosts:
      - static.staging2.mybinder.org

redirector:
  enabled: true
  redirects:
    - type: host
      host:
        from: docs.staging2.mybinder.org
        to: mybinder.readthedocs.io

matomo:
  enabled: false

analyticsPublisher:
  # FIXME: Enable this
  enabled: false
  project: binderhub-288415
  destinationBucket: binder-staging-events-archive
  events:
    logName: binderhub-staging-events-text
    sourceBucket: binder-staging-events-raw-export
  resources:
    requests:
      cpu: 10m
  # TODO: copy to values
  cloudCosts:
    sourceBucket: binder-billing-archive

gcsProxy:
  # FIXME: Enable this
  enabled: false
  buckets:
    - name: binder-staging-events-archive
      # TODO: Why do we need this?
      host: archive.analytics.gke2.staging.mybinder.org
    - name: binder-staging-events-archive
      host: archive.analytics.staging.mybinder.org

federationRedirect:
  host: staging.mybinder.org
  enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      cpu: 0.2
      memory: 200Mi
  hosts:
    staging:
      prime: true
      url: https://staging2.mybinder.org
      weight: 100
      health: https://staging2.mybinder.org/health
      versions: https://staging2.mybinder.org/versions
