binderhub:
  ingress:
    hosts:
      - staging.mybinder.org

  registry:
    prefix: gcr.io/binder-staging/r2d-acae7f9-

  build:
    appendixUrl: https://github.com/jupyterhub/mybinder.org-deploy/archive/7a07920b2.tar.gz

  hub:
    url: https://hub.staging.mybinder.org

  jupyterhub:
    singleuser:
      memory:
        guarantee: 256M
        limit: 256M
    ingress:
      hosts:
        - hub.staging.mybinder.org
      tls:
        - secretName: kubelego-tls-jupyterhub-staging
          hosts:
            - hub.staging.mybinder.org

grafana:
  server:
    ingress:
      hosts:
        - grafana.staging.mybinder.org
      tls:
        - hosts:
            - grafana.staging.mybinder.org
          secretName: kubelego-tls-grafana

prometheus:
  server:
    ingress:
        hosts:
          - prometheus.staging.mybinder.org
        tls:
          - hosts:
              - prometheus.staging.mybinder.org
            secretName: kubelego-tls-prometheus

nginx-ingress:
  controller:
    service:
      loadBalancerIP: 104.197.11.66
    replicaCount: 4

static:
  ingress:
    hosts:
      - static.staging.mybinder.org

redirector:
  redirects:
    - type: host
      host:
        from: beta.staging.mybinder.org
        to: staging.mybinder.org
    - type: host
      host:
        from: docs.staging.mybinder.org
        to: mybinder.readthedocs.io
    - type: host
      host:
        from: playground.staging.mybinder.org
        to: play.nteract.io
