name: Flake8

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  flake8:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install flake8
      - name: Lint all Python files with Flake8
        run: |
          flake8 **/*.py
